<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Exitosa</title>
    {% extends "index.html" %}

    {% load static %}

 
</head>
<body>
    <div class="CompraSilla">
        {% block contenido %}

            <h2>Compra Exitosa!</h2>

            <h6>
                    Gracias por su compra!
            </h6>
            
            {% endblock %}
    </div>
</body>
</html>