<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <link rel="stylesheet" href="{% static '/css/myestylo.css' %}">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">


    <title>inicio | Productos.</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-primary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
   
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/productos/">Home</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/productos/mesas">Mesa</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/productos/read_mesas">crud_Mesa</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/productos/sillas">Silla</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/productos/sofa">sofa</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/productos/usuario">Usuario</a>
                </li>
            </ul>
 
        </div>  
        </div>         
    </nav>

    <div class="contenido1">
        {% block contenido %}

            <p>Cargando... </p>
            <p>
            

            </p>
        
            {% endblock %}
    </div>
</body>
</html>