{% extends "index.html" %}

{% load static %}



{% block contenido %}


    
<h2>Bienvenido a la pagina de sillas</h2>

<div class="contenidoSillas">
    <form class="formDataSillas" action="/productos/sillas/" method="POST"> {% csrf_token %}
        <input type="text" name="nombre" placeholder="nombre">
        <input type="text" name="material" placeholder="material">
        <input type="text" name="tipo" placeholder="tipo">
        <input type="number" name="precio" placeholder="precio">
        <button type="submit" class="btn btn-primary btndj">Registrar</button>
    </form>
</div>
<div>
    <form class="formDataSillas" action="/productos/buscar_sillas/" method="GET"> 
        <input type="text" name="nombre" placeholder="nombre">
        <button type="submit" class="btn btn-primary btndj">Buscar</button>
    </form>
</div>




<div>
    {% if sillas %}
    <ul>
        {% for silla in sillas %}
        <li>{{ silla.nombre}}</li>
        <li>{{ silla.material}}</li>
        <li>{{ silla.tipo}}</li>
        <li>{{ silla.precio}}</li>

        {% endfor %}
    </ul>


    {% else %} 
    <p><h5>No hay datos</h5></p>

    {% endif %}
</div>
    {% endblock %}
</body>
</html>