{% extends "home2.html" %} 

{% load static %}

{% block content %}



<h1>tienda</h1>
<div class="container">

  <div style="float:right;">       
 

    {% if request.user.is_authenticated %}
 
      {% include "carro/widget.html" %}

    {% else %} 

      <div class="alert alert-danger text-center">Login para ver Carro</div>     

    {% endif %}
    
  
  </div>


  <div class="row">

{% for prod in productos %}

    <div class="col-md-3">

    <div class="card" style="width: 100%; margin: 5px 5px;">

        <img src="/tienda" class="card-img-top">

        <div class="card-body" style="text-align: center;">

            <h7 class="card-title">{{prod.nombre}}</h7>

            <p class="card-text">{{prod.precio}}&nbsp;€</p>


        </div> 
        
        <div class="card-footer text-center">

            <a href="tienda/tienda" class="btn btn-success">Agregar al carro</a>

        </div>

    </div><!--card que se cierra-->
    
  </div>



{% endfor %}
  </div>
 
  
</div>

{% endblock %}