{% extends "index.html" %}

{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{%static 'css/myestilo.css'%}">

<form class="formDataMesas" method="POST" action="/productos/create_mesas/">{% csrf_token %}
    <input type="text" name="nombre" placeholder="nombre">
    <input type="text" name="material" placeholder="material">
    <input type="text" name="tipo" placeholder="tipo">
    <input type="number" name="precio" placeholder="precio">
    <button type="submit" class="btn btn-primary btndj">Vamo a Darle</button>

</form>

{% endblock %}